<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="header">
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Хорошие вопросы", root_path %></h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
